version: '3.9'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '4000:4000'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
# Just Run:
# docker compose -f docker-compose.dev.yml up
