apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextjs-dev
  template:
    metadata:
      labels:
        app: nextjs-dev
    spec:
      containers:
        - name: nextjs-container
          image: nextjs-app:dev
          imagePullPolicy: Never
          command: ['npm', 'run', 'dev']
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: nextjs-config
          env:
            - name: NODE_ENV
              value: development

          # ---- Volume mounts ----
          volumeMounts:
            # Mount your project source
            - name: src-code
              mountPath: /app
              subPath: .

            # Keep node_modules inside container (avoid empty override)
            - name: node-modules
              mountPath: /app/node_modules

      # ---- Volumes ----
      volumes:
        # Local source code mount
        - name: src-code
          hostPath:
            path: /Users/oladayo.agbolade/Desktop/ibaas # ⬅️ CHANGE THIS
            type: Directory

        # Internal node_modules folder — not mounted from host
        - name: node-modules
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: nextjs-dev-service
spec:
  selector:
    app: nextjs-dev
  ports:
    - name: web
      protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP
